@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoRegular.eot");
  src: url("../fonts/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular.woff2") format("woff2"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype"), url("../fonts/LatoRegular.svg#LatoRegular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}
@font-face {
  font-family: "LatoBlack";
  src: url("../fonts/LatoBlack.eot");
  src: url("../fonts/LatoBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBlack.woff2") format("woff2"), url("../fonts/LatoBlack.woff") format("woff"), url("../fonts/LatoBlack.ttf") format("truetype"), url("../fonts/LatoBlack.svg#LatoBlack") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    width: 96%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 92%;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.featured__items-btn, .featured__active-item:before {
  display: none;
}

.main-wrp {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
@media (max-width: 767px) {
  .main-wrp {
    justify-content: center;
  }
}

.head-miniwrapper {
  background-color: #F8F3F4;
  height: 150px;
}

.alignwrp {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1599px) and (max-width: 1139px) {
  .alignwrp {
    width: 96%;
  }
}
@media (max-width: 767px) {
  .alignwrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92%;
  }
}
.alignwrp__hc {
  color: #F8F3F4;
  cursor: default;
}

.textnav {
  padding-top: 4px;
  display: flex;
}
@media (max-width: 767px) {
  .textnav {
    padding-top: 36px;
  }
}

@-webkit-keyframes stretching-text {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 3px;
  }
  100% {
    letter-spacing: 0;
  }
}

@keyframes stretching-text {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 3px;
  }
  100% {
    letter-spacing: 0;
  }
}
@-webkit-keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes text-blur-out {
  0% {
    filter: blur(0.01);
  }
  100% {
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    filter: blur(0.01);
  }
  100% {
    filter: blur(12px) opacity(0%);
  }
}
@-webkit-keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.header__menu-nav {
  position: absolute;
  z-index: 2;
  background-color: #FFF;
  min-width: 230px;
  height: 600px;
  right: -230px;
  top: 75px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: none;
}
@media (max-width: 1599px) {
  .header__menu-nav {
    right: 0;
  }
}
@media (max-width: 767px) {
  .header__menu-nav {
    right: 50%;
  }
}
.header__menu-nav-showed {
  -webkit-animation: scale-up-ver-top 0.5s ease-out both;
          animation: scale-up-ver-top 0.5s ease-out both;
  display: block;
}

.menu-nav__title {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin: 40px 0 5px 35px;
}
.menu-nav__subtitle {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #F16D7F;
  margin: 20px 0 5px 35px;
  cursor: pointer;
}
.menu-nav__subtitle:hover {
  -webkit-animation: stretching-text 2s infinite 0s;
          animation: stretching-text 2s infinite 0s;
}
.menu-nav__item-list-subitem {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 10px 0 10px 55px;
  cursor: pointer;
}
.menu-nav__item-list-subitem:hover {
  -webkit-animation: stretching-text 2s infinite 0s;
          animation: stretching-text 2s infinite 0s;
}
.menu-nav__closetab {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 15px;
}
.menu-nav__closetab:hover {
  cursor: pointer;
  transform: rotate(360deg);
  animation: rotate-scale-up 0.65s linear 100ms reverse;
}
.menu-nav-cover {
  display: none;
}
.menu-nav-cover-showed {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 1;
  display: block;
}

.header {
  background-color: #222;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  position: relative;
}
.header__search {
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
}
.header__mlist {
  border: none;
  background-color: transparent;
}
.header__logo {
  margin: 0 40px 0 0;
}
.header__user {
  margin: 0 35px 0 35px;
}

.icons {
  fill: #FFF;
}
.icons:hover, .icons:focus {
  fill: #F16D7F;
  cursor: pointer;
}

.new-brands {
  display: flex;
}
.new-brands__imgs {
  width: 48%;
  z-index: 0;
}
@media (max-width: 767px) {
  .new-brands__imgs {
    display: none;
  }
}
.new-brands__wrapper {
  background-color: #F1E4E6;
  padding: 0 0 0 90px;
}
@media (max-width: 1599px) {
  .new-brands__wrapper {
    padding: 0 0 0 60px;
  }
}
@media (max-width: 767px) {
  .new-brands__wrapper {
    padding: 0 0 0 56px;
    display: none;
    min-height: 370px;
  }
}
.new-brands__title {
  font-family: "LatoBlack";
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.new-brands__title:before {
  height: 94px;
  width: 12px;
  background-color: #F16D7F;
  content: "";
  position: absolute;
  left: -26px;
}
@media (max-width: 1599px) {
  .new-brands__title:before {
    height: 86px;
  }
}
@media (max-width: 767px) {
  .new-brands__title:before {
    height: 74px;
  }
}
@media (max-width: 1599px) {
  .new-brands__title {
    font-family: "LatoBlack";
    font-size: 44px;
    font-weight: 900;
    line-height: 53px;
  }
}
@media (max-width: 767px) {
  .new-brands__title {
    font-family: "LatoBlack";
    font-size: 38px;
    font-weight: 900;
    line-height: 46px;
    width: 270px;
    height: 65px;
  }
}
.new-brands__subtitle {
  font-family: "Lato";
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: flex;
}
@media (max-width: 1599px) {
  .new-brands__subtitle {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
}
@media (max-width: 767px) {
  .new-brands__subtitle {
    font-family: "Lato";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}

.alt-color {
  color: #F16D7F;
}

.hot-sales {
  margin-top: 65px;
}
@media (max-width: 1599px) {
  .hot-sales {
    margin-top: 0;
  }
}
.hot-sales__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .hot-sales__list {
    justify-content: center;
  }
}
.hot-sales__item {
  width: 31%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1599px) {
  .hot-sales__item {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .hot-sales__item {
    margin-top: 30px;
    width: 98%;
    height: auto;
  }
}
.hot-sales__item-wide {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 1599px) {
  .hot-sales__item-wide {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .hot-sales__item-wide {
    margin-top: 30px;
    width: 98%;
    height: auto;
  }
}
.hot-sales__item-img {
  min-width: 232px;
}
.hot-sales__item-img-wide {
  min-width: 343px;
}
@media (max-width: 767px) {
  .hot-sales__item-img-wide {
    width: 360px;
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.hot-sales__item-decs {
  position: absolute;
  text-align: center;
  cursor: pointer;
}
.hot-sales__text {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFF;
  text-transform: uppercase;
}
.hot-sales__subtitle {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.featured {
  margin-top: 95px;
  text-align: center;
}
@media (max-width: 1599px) {
  .featured {
    margin-top: 155px;
  }
}
@media (max-width: 767px) {
  .featured {
    margin-top: 64px;
  }
}
.featured__title {
  font-family: "Lato";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.featured__text {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 5px 0 45px 0;
  color: #9F9F9F;
  text-align: center;
}
@media (max-width: 1599px) {
  .featured__text {
    margin: 3px 0 75px 0;
  }
}
@media (max-width: 767px) {
  .featured__text {
    margin: 3px 0 65px 0;
  }
}
.featured__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1599px) {
  .featured__list {
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .featured__list {
    justify-content: center;
  }
}
.featured__items {
  background-color: #F8F8F8;
  min-height: 580px;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 1599px) {
  .featured__items {
    margin-bottom: 15px;
  }
}
.featured__items-desc {
  max-width: 360px;
  text-align: left;
}
.featured__items-btn {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  color: #FFF;
  border: 1px solid #FFF;
  background-color: transparent;
  min-width: 140px;
  padding: 12px 16px;
  cursor: pointer;
}
.featured__items-btn:before {
  width: 27px;
  height: 27px;
  background-size: 100%;
  background-color: transparent;
  background-image: url(../img/icon_cart.svg);
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 28px;
  top: 55%;
  transform: translate(-50%, -50%);
}
.featured__active-item:before {
  background-color: #3A3838DB;
  content: "";
  width: 100%;
  min-height: 420px;
  position: absolute;
}
.featured__subtitle {
  font-family: "Lato";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 24px;
  text-transform: uppercase;
  padding: 0 18px;
}
.featured__items-text {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  margin: 12px 0 18px 0;
  padding: 0 18px;
}
.featured__price {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  padding: 0 18px;
}
.featured__items-seeall {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  text-align: center;
  display: inline-block;
  border: solid 1px;
  margin-top: 30px;
  padding: 15px 40px;
  transition: all 0.4s ease-in-out;
}
.featured__items-seeall:hover {
  background-color: #F16D7F;
  color: #FFF;
  transition: all 0.8s ease-in-out;
}
@media (max-width: 1599px) {
  .featured__items-seeall {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .featured__items-seeall {
    margin-top: 25px;
  }
}

.featured__items:hover .featured__active-item:before,
.featured__items:hover .featured__items-btn {
  display: block;
  animation: text-blur-out 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
}

.signup__title {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #F16D7F;
  text-transform: uppercase;
}
@media (max-width: 1599px) {
  .signup__title {
    padding-left: 6px;
  }
}
@media (max-width: 767px) {
  .signup__title {
    padding-left: 0;
    padding-top: 16px;
    text-align: center;
  }
}
.signup__subtitle {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-transform: uppercase;
}
@media (max-width: 1599px) {
  .signup__subtitle {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
}
.signup__legend-title {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222;
  margin-bottom: 10px;
}
.signup__text {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding: 22px 0 14px 0;
}
@media (max-width: 1599px) {
  .signup__text {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    padding: 32px 0 14px 0;
  }
}
.signup__perks {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding: 8px 43px;
  position: relative;
}
.signup__perks:before {
  height: 20px;
  width: 20px;
  background-color: transparent;
  background-image: url(../img/icon_markperks.svg);
  background-size: 20px 20px;
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
}
@media (max-width: 1599px) {
  .signup__perks {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
}
.signup__field {
  display: flex;
  justify-content: space-between;
  padding-bottom: 95px;
}
@media (max-width: 1599px) {
  .signup__field {
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .signup__field {
    flex-direction: column;
    width: 360px;
    align-items: center;
    padding-bottom: 100px;
  }
}
.signup__loyalty {
  margin-top: 64px;
  max-width: 57%;
}
@media (max-width: 1599px) {
  .signup__loyalty {
    margin-top: 40px;
    max-width: 48%;
  }
}
@media (max-width: 767px) {
  .signup__loyalty {
    max-width: 95%;
  }
}
.signup__form {
  margin-top: 64px;
  width: 32%;
  max-width: 360px;
}
@media (max-width: 1599px) {
  .signup__form {
    margin-top: 40px;
    width: 49%;
  }
}
@media (max-width: 767px) {
  .signup__form {
    width: 95%;
  }
}

.input-field {
  font-family: "Lato";
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
  width: 100%;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  min-height: 45px;
  margin: 10px 0;
  padding: 6px 17px;
}

.wmargin {
  margin-top: 34px;
}

.userpass-text {
  font-family: "Lato";
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
  margin: 5px 0 40px 0;
}

.form__user-submit {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFF;
  text-align: left;
  padding: 0 30px;
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  border-style: none;
  position: relative;
  cursor: pointer;
}
.form__user-submit::after {
  height: 10px;
  width: 20px;
  background-color: transparent;
  background-image: url(../img/icon_usersubmitbtn.svg);
  background-size: 20px 10px;
  content: "";
  position: absolute;
  right: 30px;
  top: 19px;
}
.form__user-submit:focus {
  -webkit-animation: vibrate-1 0.3s linear 2 both;
          animation: vibrate-1 0.3s linear 2 both;
}
.form__field-usergender {
  margin-top: 20px;
}
.form__checkgender-text {
  padding-right: 15px;
}

.wtf-gender {
  display: none;
}
@media (max-width: 1599px) {
  .wtf-gender {
    display: inline-block;
  }
}

.prod__item {
  margin: -65px auto 0;
  position: relative;
  z-index: 1;
  background-color: #FFF;
  border: 1px solid #EAEAEA;
}
@media (max-width: 1599px) {
  .prod__item {
    margin: 0 auto;
  }
}
.prod__title {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
  cursor: pointer;
}
.prod__subtitle {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  color: #F16D7F;
  margin-top: 64px;
}
.prod__item-text {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  color: #5D5D5D;
  margin-top: 25px;
}
.prod__item-desc {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  margin: 48px 0 32px;
  max-width: 555px;
}
@media (max-width: 767px) {
  .prod__item-desc {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin: 32px 0;
  }
}
.prod__price-container {
  width: 640px;
  height: 80px;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 64px;
}
@media (max-width: 767px) {
  .prod__price-container {
    width: 175px;
  }
}
.prod__item-price {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #F16D7F;
}
.prod__list-textnav {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  color: #636363;
  cursor: pointer;
}
.prod__list-textnav-act {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  color: #F16D7F;
  cursor: pointer;
}
.prod__list-textnav-spacebtw {
  padding: 0 6px;
  cursor: default;
}
.prod__item-addtocart {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin: 48px 0 65px;
}
@media (max-width: 767px) {
  .prod__item-addtocart {
    margin: 65px 0;
  }
}

.separator {
  width: 62px;
  border: 3px solid red;
  margin-top: 12px;
}

.incart {
  margin: 74px 0 128px;
  min-width: 57%;
}
@media (max-width: 1599px) {
  .incart {
    margin: 59px 0 64px;
    min-width: 100%;
  }
}
@media (max-width: 767px) {
  .incart {
    margin: 39px 0 48px;
  }
}
.incart__itemcard {
  min-height: 305px;
  margin-top: 40px;
  background-color: #FFF;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
@media (max-width: 1599px) {
  .incart__itemcard {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .incart__itemcard {
    min-height: 188px;
    margin-top: 32px;
  }
}
.incart__btns {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1599px) {
  .incart__btns {
    justify-content: space-around;
  }
}
.incart__btns-style {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  width: 235px;
  height: 50px;
  background-color: #FFF;
  border: 1px solid #A4A4A4;
  margin-top: 72px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 767px) {
  .incart__btns-style {
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: normal;
    width: 175px;
    height: 32px;
  }
}
.incart__btns-style:hover {
  color: #FFF;
  background-color: #E05C6E;
  border: 1px solid #E05C6E;
  transition: all 0.8s ease-in-out;
}

.itemcard {
  position: relative;
}
.itemcard__productname {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  width: 260px;
  padding-top: 22px;
}
@media (max-width: 767px) {
  .itemcard__productname {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 144px;
  }
}
.itemcard__listproperties {
  margin: 35px 0 55px;
}
@media (max-width: 767px) {
  .itemcard__listproperties {
    margin: 26px 0 38px;
  }
}
.itemcard__img {
  max-width: 35%;
  margin-right: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .itemcard__img {
    max-width: 40%;
    margin-right: 18px;
  }
}
.itemcard__closetab {
  position: absolute;
  top: 28px;
  right: 22px;
}
@media (max-width: 767px) {
  .itemcard__closetab {
    top: 18px;
    right: 12px;
  }
}

.prtydesc {
  font-family: "Lato";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding: 3px 0;
}
@media (max-width: 767px) {
  .prtydesc {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
}
.prtydesc__qty-option {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  width: 42px;
  text-align: center;
  -moz-appearance: textfield;
  margin-left: 24px;
}
@media (max-width: 767px) {
  .prtydesc__qty-option {
    font-family: "Lato";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin-left: 15px;
  }
}

.proceed {
  min-width: 360px;
  margin-top: 113px;
}
@media (max-width: 1599px) {
  .proceed {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .proceed {
    flex-direction: column;
  }
}
.proceed__title {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222;
  text-transform: uppercase;
}
.proceed__text-small {
  font-family: "Lato";
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  padding: 39px 34px 0 0;
}
.proceed__text-large {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  margin: 12px 34px 39px 0;
}
.proceed__text-pad {
  padding-left: 30px;
}
.proceed__formfields {
  min-width: 360px;
}
.proceed__userinput {
  width: 100%;
  margin-top: 20px;
  padding: 13px 17px 16px 17px;
  border: 1px solid #A4A4A4;
}
.proceed__checkout {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .proceed__checkout {
    align-self: center;
    margin-bottom: 96px;
  }
}
.proceed__quotebtn {
  font-family: "Lato";
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  text-transform: uppercase;
  width: 100px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  margin: 24px 0 58px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1599px) {
  .proceed__quotebtn {
    margin: 24px 0 128px;
  }
}
@media (max-width: 767px) {
  .proceed__quotebtn {
    font-family: "Lato";
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-transform: none;
    margin: 24px 0 48px;
  }
}
.proceed__quotebtn:hover {
  color: #FFF;
  background-color: #E05C6E;
  border: 1px solid #E05C6E;
  transition: all 0.8s ease-in-out;
}
.proceed__checkoutbtn {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFF;
  width: 275px;
  height: 50px;
  background-color: #E05C6E;
  border: none;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.proceed__checkoutbtn:hover {
  transition: all 0.8s ease-in-out;
  background-color: #222;
}
.proceed__checkoutbtn:before {
  width: 275px;
  height: 1px;
  background-color: #E2E2E2;
  left: 0px;
  top: -17px;
  content: "";
  position: absolute;
}

.textclr-pink {
  color: #F16D7F;
}

.inlinerow {
  display: flex;
}

.cartinfo {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1599px) {
  .cartinfo {
    flex-direction: column;
  }
}
.proceedtext {
  color: #222;
  align-self: end;
}

.our-advantage {
  min-height: 340px;
  background-color: #222;
  margin-top: 95px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1599px) {
  .our-advantage {
    margin-top: 65px;
  }
}
@media (max-width: 767px) {
  .our-advantage {
    margin-top: 95px;
  }
}
.our-advantage__list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px 0 45px;
}
@media (max-width: 1599px) {
  .our-advantage__list {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 1599px) {
  .our-advantage__list {
    padding: 25px 0 65px;
  }
}
.our-advantage__item {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  height: 135px;
  text-align: center;
}
@media (max-width: 1599px) {
  .our-advantage__item {
    margin: 20px 0;
  }
}
.our-advantage__item-imgs {
  height: 40px;
  align-self: center;
}

.our-advatages__subtitle {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
  margin: 25px 0 15px 0;
  padding: 0 18px;
}
.our-advatages__text {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
  padding: 0 18px;
}

.footer {
  background-blend-mode: lighten;
  background-image: url(../img/footer_bg.jpg);
  background-color: rgba(244, 244, 244, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1599px) {
  .footer {
    background-position: 25% center;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-around;
  min-height: 448px;
  padding: 55px 0 110px;
}
@media (max-width: 1599px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.footer__comments {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__sub-img {
  margin-bottom: 30px;
}
.footer__sub-text-origin {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 767px) {
  .footer__sub-text-origin {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
}
.footer__sub-text-italic {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
  text-align: center;
}
@media (max-width: 767px) {
  .footer__sub-text-italic {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
}
.footer__newsletter {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__newsletter-title {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}
@media (max-width: 1599px) {
  .footer__newsletter-title {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
  }
}
@media (max-width: 767px) {
  .footer__newsletter-title {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
}
.footer__newsletter-text {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1599px) {
  .footer__newsletter-text {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .footer__newsletter-text {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}
.footer__newsletter-form {
  margin-top: 30px;
  max-width: 345px;
  display: flex;
}
@media (max-width: 1599px) {
  .footer__newsletter-form {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .footer__newsletter-form {
    margin-top: 20px;
  }
}
.footer__social-мedia-wrapper {
  background-color: #222;
}
.footer__row-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}
@media (max-width: 767px) {
  .footer__row-list {
    flex-direction: column-reverse;
    padding: 40px 0 10px;
  }
}
.footer__copyright {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__social-мedia-list {
  width: 160px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__social-мedia-list {
    margin-bottom: 30px;
  }
}

.email-form__user-input {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  width: 360px;
  height: 50px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 25px 0px 0px 25px;
  padding: 5px 22px;
  box-sizing: border-box;
}
.email-form__user-input:focus {
  border: 2px solid #F16D7F;
  border-right-style: none;
  padding: 5px 20px;
}
.email-form__user-submit {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFF;
  width: 150px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  border-radius: 0px 25px 25px 0px;
  padding: 5px;
  border: 2px solid #F16D7F;
  transition: all 0.4s ease-in-out;
}
.email-form__user-submit:hover {
  transition: all 0.8s ease-in-out;
  background-color: #E05C6E;
  border: 2px solid #E05C6E;
  cursor: pointer;
}