::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

// .header__menu-nav {
//     display: none;
// }

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.featured {

    &__items-btn,
    &__active-item:before {
        display: none;
    }
}