::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@media (max-width: $wTablet) {
    .container {
        width: 96%;
    }
}

@media (max-width: $wMobile) {
    .container {
        width: 92%;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.featured {

    &__items-btn,
    &__active-item:before {
        display: none;
    }
}

.main-wrp {
    display: flex;
    align-items: center;
    flex-grow: 1;


    @include mobile-settings {
        justify-content: center;

    }
}

.head-miniwrapper {
    background-color: $bg-color-miniheader;
    height: 150px;
}

.alignwrp {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet-settings {

        @media (max-width: 1139px) {
            width: 96%;
        }
    }

    @include mobile-settings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 92%;
    }

    &__hc {
        color: $bg-color-miniheader;
        cursor: default;
    }
}

.textnav {
    padding-top: 4px;
    display: flex;

    @include mobile-settings {
        padding-top: 36px;
    }
}