@mixin fontProperties ($fFamily, $fSize, $fWeight, $fHeight) {
    font-family: $fFamily;
    font-size: $fSize;
    font-weight: $fWeight;
    line-height: $fHeight;
}

@mixin tabletSettings {
    @media (max-width: $wTablet) {
        @content;
    }
}

@mixin mobileSettings {
    @media (max-width: $wMobile) {
        @content;
    }
}

@mixin imgflex {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}