$bg-color-main: #222;
$bg-color-new-brands: #F1E4E6;
$bg-color-signup: #F8F3F4;
$bg-color-user-input: #E1E1E1;
$bg-color-itemcards: #F8F8F8;
$bg-color-active-item: #3A3838DB;
$bg_color-submit-btn: #E05C6E;

$text-color-alt: #F16D7F;
$text-color-negative: #FFF;
$text-color-featured: #9F9F9F;
$text-color-itemcards: #5D5D5D;
$text-color-advantages: #FBFBFB;
$text-color-signup: #B1B1B1;

$border-color: #A4A4A4;

$font-main: "Lato";
$font-title: "LatoBlack";

$wTablet: 1599px;
$wMobile: 767px;