.footer {
    background-blend-mode: lighten;
    background-image: url(../img/footer_bg.jpg);
    background-color: rgba(244, 244, 244, 0.700);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 448px;

    &__wrapper {
        display: flex;
        justify-content: space-around;
        min-height: 448px;
    }

    &__comments {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__sub-img {
        margin-bottom: 30px;
    }

    &__sub-text-origin {
        @include fontProperties ($font-main, 20px, 400, 24px);
        text-align: center;
    }

    &__sub-text-italic {
        @include fontProperties ($font-main, 20px, 400, 24px);
        font-style: italic;
        text-align: center;

    }

    &__newsletter {
        max-width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__newsletter-title {
        @include fontProperties ($font-main, 24px, 700, 38px);
        text-align: center;
        text-transform: uppercase;
        margin-top: 50px;
    }

    &__newsletter-text {
        @include fontProperties ($font-main, 18px, 400, 30px);
        text-align: center;
        text-transform: uppercase;
    }

    &__newsletter-form {
        margin-top: 30px;
        max-width: 345px;
        display: flex;
    }

    &__social-мedia-wrapper {
        background-color: $bg-color-main;
    }

    &__row-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 75px;
    }

    &__copyright {
        @include fontProperties ($font-main, 16px, 400, 19px);
        color: $text-color-advantages;
    }

    &__social-мedia-list {
        width: 160px;
        display: flex;
        justify-content: space-between;
    }
}

.email-form {

    &__user-input {
        @include fontProperties ($font-main, 14px, 400, 17px);
        text-align: left;
        width: 360px;
        height: 50px;
        background-color: $bg-color-user-input;
        border: none;
        border-radius: 25px 0px 0px 25px;
        padding: 5px 22px;
        box-sizing: border-box;

        &:focus {
            border: 2px solid $text-color-alt;
            border-right-style: none;
            padding: 5px 20px;
        }
    }

    &__user-submit {
        @include fontProperties ($font-main, 14px, 400, 17px);
        color: $text-color-negative;
        width: 150px;
        height: 50px;
        background-color: $text-color-alt;
        border: none;
        border-radius: 0px 25px 25px 0px;
        padding: 5px;
        border: 2px solid $text-color-alt;

        &:hover {
            transition: all 0.8s ease;
            background-color: $bg_color-submit-btn;
            border: 2px solid $bg_color-submit-btn;
            cursor: pointer;
        }
    }
}