.header {
    background-color: $bg-color-main;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 75px;
        position: relative;
    }

    &__search {
        border: none;
        background-color: transparent;
        margin-bottom: 10px;
    }

    &__mlist {
        border: none;
        background-color: transparent;
    }

    &__logo {
        margin: 0 40px 0 0;
    }

    &__user {
        margin: 0 35px 0 35px;
    }
}

.icons {
    fill: $text-color-negative;

    &:hover,
    &:focus {
        fill: $text-color-alt;
        cursor: pointer;
    }
}