.hot-sales {
    margin-top: 65px;

    @include tabletSettings {
        margin-top: 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include mobileSettings {
            justify-content: center;
        }
    }

    &__item {
        width: 31%;
        height: auto;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        @include tabletSettings {
            margin-top: 20px;
        }

        @include mobileSettings {
            margin-top: 30px;
            width: 98%;
            height: auto;
        }
    }

    &__item-wide {
        margin-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @include tabletSettings {
            margin-top: 20px;
        }

        @include mobileSettings {
            margin-top: 30px;
            width: 98%;
            height: auto;
        }
    }


    &__item-img {
        min-width: 232px;

        &-wide {
            min-width: 343px;

            @include tabletSettings {}

            @include mobileSettings {
                width: 360px;
                height: 111px;
                object-fit: cover;
            }
        }
    }

    &__item-decs {
        position: absolute;
        text-align: center;
        cursor: pointer;
    }

    &__text {
        @include fontProperties ($font-main, 16px, 400, 19px);
        color: $text-color-negative;
        text-transform: uppercase;
    }

    &__subtitle {
        @include fontProperties ($font-main, 24px, 700, 29px);
        color: $text-color-alt;
        text-transform: uppercase;
    }
}