.our-advantage {
    min-height: 340px;
    background-color: $bg-color-main;
    margin-top: 95px;
    display: flex;
    justify-content: center;

    @include tabletSettings {
        margin-top: 65px;
    }

    @include mobileSettings {
        margin-top: 95px;
    }

    &__list {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 25px 0 45px;

        @include tabletSettings {
            flex-direction: column;
            justify-content: center;
        }

        @include tabletSettings {
            padding: 25px 0 65px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        height: 135px;
        text-align: center;

        @include tabletSettings {
            margin: 20px 0;
        }
    }

    &__item-imgs {
        height: 40px;
        align-self: center;
    }
}

.our-advatages {

    &__subtitle {
        @include fontProperties ($font-main, 20px, 400, 24px);
        color: $text-color-advantages;
        margin: 25px 0 15px 0;
        padding: 0 18px;
    }

    &__text {
        @include fontProperties ($font-main, 14px, 300, 17px);
        color: $text-color-advantages;
        padding: 0 18px;
    }
}